<section class="section benefits">
  <div class="container">

        
    <div class=" wrap-desktop-benefits">
        <div class = "wrap-benefits">
          <h3  class="wrap-title-benefits"></h3> Benefits of working with me </h3>
        </div>
    
      <ol class = "benefits-list">
  
        <li class="benefits-card">
           <div class="square-benefits">
                  
            <div class="square-benefits-favicon">
              <a href="./index.html" class="benefits-icon-box">
                <svg class="benefits-icon-svg">
                  <use href="./img/icons.svg#icon-user"></use>
                </svg>
              </a>       
            </div>

                  <h4 class="section-title benefits">Expertise </h4>
                  <p class="benefits-text">As a highly experienced developer, 
                  I have deep knowledge of programming and website development.</p>

          </div>   
        </li>  
  
  
        <li class="benefits-card">
          <div class="square-benefits">
           
  
          <div class="square-benefits-favicon">
                  <a href="./index.html" class="benefits-icon-box">
                    <svg class="benefits-icon-svg">
                      <use href="./img/icons.svg#icon-message-chat-circle"></use>
                    </svg>
                  </a>       
          </div>
  
  
              <h4 class="section-title benefits">Communication </h4>
                  <p class="benefits-text" > 
                      Understanding your needs and wants is my priority and I am always open to discussions and corrections.</p>
              
               
          </div>  
        </li>
  
  
        <li class="benefits-card">
          <div class="square-benefits">
             
  
            <div class="square-benefits-favicon">
              <a href="./index.html" class="benefits-icon-box">
                <svg class="benefits-icon-svg">
                  <use href="./img/icons.svg#icon-brush"></use>
                </svg>
              </a>       
            </div>
  
              <h4 class="section-title benefits" > Art  </h4>
  
                  <p class="benefits-text"> 
                      Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life. </p>
                  
           
          </div>  
        </li> 
  
  
        <li class="benefits-card">
          <div class="square-benefits">
          
  
            <div class="square-benefits-favicon">
              <a href="./index.html" class="benefits-icon-box">
                <svg class="benefits-icon-svg">
                  <use href="./img/icons.svg#icon-hourglass"></use>
                </svg>
              </a>       
            </div>
  
              <h4 class="section-title benefits">   Urgent execution</h4>
                  <p class="benefits-text">
                      I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
            
               </div>
        </li> 
              
      <div class= "button-box">
          <button class="button-benefits"><a href="#work-together">Order the project</a></button>
       
      </div>

      </ol>
  </div>   
    

  </div>
</section>
