<section class="section hero">
  <div class="container wrapper">
    <div class="top"></div>
    <div class="hero-title-wrapper">
      <h1 class="hero-title">
        Hello.<br />I’m Fullstack developer Lloyd Jefferson.
      </h1>
    </div>

    <ul class="contact-list">
      <li class="contact-item">
        <a
          class="contact-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >IG</a
        >
      </li>
      <li class="contact-item">
        <a
          class="contact-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >YT</a
        >
      </li>
      <li class="contact-item">
        <a
          class="contact-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >FB</a
        >
      </li>
      <li class="contact-item">
        <a
          class="contact-link"
          href="https://github.com/akopyan-arsen/lucky_thirteen"
          target="_blank"
          rel="noreferrer noopener nofollow"
          >GH</a
        >
      </li>
      <li class="contact-item mail">
        <!-- ? чи потрібен атрибут rel у посиланні на поштову скриньку? -->
        <a class="contact-link" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
