/* ========== MOBILE STYLES ========== */
.hero {
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: url(../img/background/hero-bg-mobile.png);
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  height: 812px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
}

.hero-title-wrapper {
  display: flex;
}

.hero-title {
  max-width: 343px;
  display: flex;
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  white-space: pre-line;
}

.contact-list {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 37px;
  height: 37px;
  padding: 0;
}

.contact-item:hover {
  border-color: #fafafa;
}

.mail {
  width: 178px;
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: url(../img/background/hero-bg-mobile@2x.png);
  }
}
/* ========== /MOBILE STYLES ========== */

/* ========== TABLET STYLES ========== */
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/background/hero-bg-tablet.png);
  }

  .wrapper {
    height: 1024px;
  }

  .hero-title {
    max-width: 632px;
    font-size: 90px;
  }

  .contact-list {
    gap: 8px;
    justify-content: end;
  }

  .contact-item {
    padding: 18px 20px;
    width: 55px;
    height: 55px;
  }

  .mail {
    width: 223px;
  }

  .contact-link {
    font-size: 16px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .hero {
      background-image: url(../img/background/hero-bg-tablet@2x.png);
    }
  }
}
/* ========== /TABLET STYLES ========== */

/* ========== DESKTOP STYLES ========== */
@media screen and (min-width: 1440px) {
  .hero {
    background-image: url(../img/background/hero-bg-desktop.png);
  }

  .wrapper {
    height: 900px;
  }

  .hero-title-wrapper {
    justify-content: space-around;
  }

  .hero-title {
    max-width: 1084px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .hero {
      background-image: url(../img/background/hero-bg-desktop@2x.png);
    }
  }
}
/* ========== /DESKTOP STYLES ========== */
